{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}
{% block subtitle %}Let's start your journey{% endblock %}

{% block inputs %}

    <div class="form-group boxed">
        <div class="input-wrapper">
            <input type="email" name="email" class="form-control" id="email1" placeholder="Email address">
            <i class="clear-input">
                <ion-icon name="close-circle"></ion-icon>
            </i>
        </div>
    </div>

{% endblock %}


{% block links %} 

    <div class="form-links mt-2">
        <div>
            <a href="{% url 'login' %}">Sign In</a>
        </div>
        <div><a href="page-forgot-password.html" class="text-muted">Forgot Password?</a></div>
    </div>

{% endblock %}


{% block submit_btn %} 

    <div class="form-button-group">
        <button type="submit" class="btn my_act_button text-white btn-block btn-lg">Register</button>
    </div>

{% endblock %}


{% block check %} 
        
{% if not success %}

<div id="notification-6" class="notification-box show">
    <div class="notification-dialog android-style">
        <div class="notification-header">
            <div class="in">
                <strong>Notification</strong>
                <span>just now</span>
            </div>
            <a href="#" class="close-button">
                <ion-icon name="close" role="img" class="md hydrated" aria-label="close"></ion-icon>
            </a>
        </div>
        <div class="notification-content">
            <div class="in">
                <h3 class="subtitle">{{toast_message}}</h3>
                <div class="text">
                    {{sub_message}}
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}







