{% extends "base.html" %}

{% block title %}{{page_title}}{% endblock %}
{% block subtitle %}<br>{% endblock %}

{% block inputs %}

    <div class="form-group boxed">
        <div class="input-wrapper">
            <input name="password" type="text" class="form-control" id="email1" placeholder="Enter your new password" required>
            <i class="clear-input">
                <ion-icon name="close-circle"></ion-icon>
            </i>
        </div>
    </div>

{% endblock %}


{% block submit_btn %} 

    <div class="form-button-group">
        <button type="submit" class="btn my_act_button text-white btn-block btn-lg">Reset</button>
    </div>

{% endblock %}

