{% extends "explore/base.html" %}
{% load static %}
{% block title %}Discovery{% endblock %} 

{% block header %}
    
    <div class="appHeader element text-light">
        <div class="pageTitle">
            <div class="pageTitle" align="left">
                <img src="{% static '/images/logo2.png' %}" alt="image" width="70">
            </div>
        </div>
        <!-- <div class="right">
            <a href="#" class="headerButton">
                <ion-icon name="mail-outline"></ion-icon>
            </a>
        </div> -->
    </div>

{% endblock %}
 

{% block content %}

<div class="section full mt-2">
    <div class="wide-block pt-2 pb-2">
        <form class="search-form" method="post">
            {% csrf_token %}
            <div class="form-group searchbox">
                <input name="keyword" type="text" class="form-control" placeholder="Search user..." autocomplete="off">
                <i class="input-icon">
                    <ion-icon name="search-outline"></ion-icon>
                </i>
            </div>
        </form>
    </div>
</div>

<!-- tab content -->
<div class="section full mb-2">
    <div class="tab-content">

        <!-- feed -->
        <div class="tab-pane fade show active" id="feed" role="tabpanel">
            <div class="mt-2 p-2 pt-0 pb-0">
                <div class="row">

                    {% for post in posts %}

                    <!-- http://127.0.0.1:8000/explore/media/file_1_08_57_06_flower2.jpg
                    
                    <p>{{ post.file_1.url }}</p>
                    <p>media/{{ post.file_1 }}</p> -->
                    <div class="col-4 mb-2">
                        <a href="{% url 'explore:scroll_post' post.id|slugify %}">
                            <img src="media/{{ post.file_1 }}" alt="image" class="imaged w-100 h-100">
                        </a>
                    </div>

                    {% endfor %}
                    
                </div>
            </div>
            <!-- <div class="p-2 pt-0 pb-0">
                <a href="#" class="btn btn-primary btn-block">More Photo</a>
            </div> -->
        </div>
        <!-- * feed -->

        
        <!-- settings -->
        <div class="tab-pane fade " id="settings" role="tabpanel">
            <ul class="listview image-listview text flush transparent pt-1">
                <li>
                    <div class="item">
                        <div class="in">
                            <div>
                                Mute
                                <footer>Disabled notifications from this person</footer>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="SwitchCheckDefault1">
                                <label class="form-check-label" for="SwitchCheckDefault1"></label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="in">
                            <div class="text-danger">Block</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="in">
                            <div>Report</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="in">
                            <div>Share This Profile</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="in">
                            <div>Send a Message</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="in">
                            <div>Add to List</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="in">
                            <div>About</div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="in">
                            <div>Ignore</div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- * settings -->
    </div>
</div>
<!-- * tab content -->

{% endblock %} 


{% block bottom_menu %}
<div class="appBottomMenu">
        <a href="{% url 'home:home' %}" class="item">
            <div class="col">
                <ion-icon name="home-outline"></ion-icon>
            </div>
        </a>
        <a href="{% url 'explore:explore' %}" class="item">
            <div class="col">
                <ion-icon name="search-outline"></ion-icon>
            </div>
        </a>
        <a href="#" class="item" data-bs-toggle="offcanvas" data-bs-target="#actionSheetDefault">
            <div class="col">
                <div class="action-button my_act_button large">
                    <ion-icon name="add-outline" role="img" class="md hydrated" aria-label="add outline"></ion-icon>
                </div>
            </div>
        </a>
        <a href="{% url 'chat:index' %}" class="item">
            <div class="col">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            </div>
        </a>
        <a href="{% url 'my_profile:profile' %}" class="item">
            <div class="col">
                <ion-icon name="person-outline"></ion-icon>
            </div>
        </a>
    </div> 

<!-- Default Action Sheet -->
<div class="offcanvas offcanvas-bottom action-sheet" tabindex="-1" id="actionSheetDefault">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Action</h5>
    </div>
    <div class="offcanvas-body">
        <ul class="action-button-list">
            <!-- <li>
                <a href="#" class="btn btn-list text-primary" data-bs-dismiss="offcanvas">
                    <span>Create Post</span>
                </a>
            </li> -->
            <li>
                <a href="{% url 'explore:create_post' %}" class="btn btn-list" data-bs-dismiss="offcanvas">
                    <span>Create Post</span>
                </a>
            </li>
            <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="offcanvas">
                    <span>Create Story</span>
                </a>
            </li>
            <li class="action-divider"></li>
            <li>
                <a href="{% url 'explore:create_story' %}" class="btn btn-list text-danger" data-bs-dismiss="offcanvas">
                    <span>Close</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- * Default Action Sheet -->
{% endblock %}

{% block js_content %}
    
<script>
    $(document).ready(function() {
        $('.btn-list').on('click', function() {
            var url = $(this).attr('href');
            window.location.href = url;
        });
    });
</script>

{% endblock %}
    
