{% extends "my_profile/base.html" %}
{% load static %}

{% block header %}

<div class="appHeader element text-light">

    <div class="pageTitle">
        <div class="pageTitle" align="left">
            <img src="{% static '/images/logo2.png' %}" alt="image" width="70">
        </div>
    </div>
    <div class="left mt-1">
        <a href="{% url 'my_profile:profile' %}" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <!-- <div class="right">
        <a href="#" class="headerButton">
            <ion-icon name="mail-outline"></ion-icon>
        </a>
        <a href="#" class="headerButton">
            <ion-icon name="person-add-outline"></ion-icon>
        </a>
    </div> -->
</div>

{% endblock %}

{% block content %}

<div class="section">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>

        <div class="form-group boxed">
            <div class="input-wrapper">
                <label for="email3">Old password</label>
                <input name="old_password" type="password" class="form-control" id="email3" required>
                <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                </i>
            </div>
        </div>

        <div class="form-group boxed">
            <div class="input-wrapper">
                <label for="email4">New Password</label>
                <input name="new_password" type="password" class="form-control" id="email4" required>
                <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                </i>
            </div>
        </div>


        <br><br>
        <div class="form-button-group">
            <button type="submit" class="btn my_act_button text-white btn-block btn-lg">Update</button>
        </div>
    </form>

</div>

{% endblock %}

{% block check %} 
        
    {% if not success %}

    <div id="notification-6" class="notification-box show">
        <div class="notification-dialog android-style">
            <div class="notification-header">
                <div class="in">
                    <strong>Notification</strong>
                    <span>just now</span>
                </div>
                <a href="#" class="close-button">
                    <ion-icon name="close" role="img" class="md hydrated" aria-label="close"></ion-icon>
                </a>
            </div>
            <div class="notification-content">
                <div class="in">
                    <h3 class="subtitle">{{toast_message}}</h3>
                    <div class="text">
                        {{sub_message}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

{% endblock %}