{% extends "my_profile/base.html" %}
{% load static %}

{% block header %}

<div class="appHeader element text-light">

    <div class="pageTitle">
        <div class="pageTitle" align="left">
            <img src="{% static '/images/logo2.png' %}" alt="image" width="70">
        </div>
    </div>
    <div class="left mt-1">
        <a href="{% url 'my_profile:profile' %}" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <!-- <div class="right">
        <a href="#" class="headerButton">
            <ion-icon name="mail-outline"></ion-icon>
        </a>
        <a href="#" class="headerButton">
            <ion-icon name="person-add-outline"></ion-icon>
        </a>
    </div> -->
</div>

{% endblock %}

{% block content %}

<div class="section">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>

        <div class="form-group boxed">
            <div class="input-wrapper">
                <label for="email3">Profile Picture</label>
                <input name="profile_picture" type="file" class="form-control" id="email3">
                <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                </i>
            </div>
        </div>

        <div class="form-group boxed">
            <div class="input-wrapper">
                <label for="email2">Bio</label>
                <textarea name="description" class="form-control" id="email2" cols="30" rows="10" maxlength="2000" placeholder="Write anything about yourself...." >{{ user.description|default:"" }}</textarea>
                <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                </i>
            </div>
        </div>

        <div class="form-group boxed">
            <div class="input-wrapper">
                <label for="email2">Birth Date</label>
                {% with user.birth_date as formatted_birth_date %}
                    {% if formatted_birth_date %}
                        {% with formatted_birth_date|date:"Y-m-d" as formatted_date %}
                            <input name="birth_date" type="date" class="form-control" id="birthDate" value="{{ formatted_date }}" required>
                        {% endwith %}
                    {% else %}
                        <input name="birth_date" type="date" class="form-control" id="birthDate" required>
                    {% endif %}
                {% endwith %}

                <i class="clear-input">
                    <ion-icon name="close-circle"></ion-icon>
                </i>
            </div>
        </div>

        <div class="form-group boxed">
            <div class="input-wrapper">
                <label for="gender">Gender</label>
                <select name="gender" id="gender" class="form-control" required>
                    {% if user.gender %}
                        <option value="1" selected>Female</option>
                        <option value="0">Male</option>
                    {% else %}
                        <option value="0" selected>Male</option>
                        <option value="1">Female</option>
                    {% endif %}
                    
                </select>
            </div>
        </div>

        <div class="form-group boxed">
            <div class="input-wrapper">
                <label>Country</label>
                <select name="country" id="country" class="form-control" required>
                    {% for country in countries %}
                        <option value="{{ country }}" {% if country == user.country %} selected {% endif %}>{{ country }}</option>
                    {% endfor %}


                </select>
            </div>
        </div>

        <div class="form-group boxed">
            <div class="input-wrapper">
                <label>City</label>
                <select name="city" id="city" class="form-control" required>
                    {% for city in cities %}
                        <option value="{{city}}" {% if city == user.city %} selected {% endif %}>{{city}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


        <br><br>
        <div class="form-button-group">
            <button type="submit" class="btn my_act_button text-white btn-block btn-lg">Update</button>
        </div>
    </form>

</div>

{% endblock %}